@model App.Web.ViewModels.AddArticleSuccessViewModel

@if (Model.success)
{
    <div>Success</div>
}
else
{
    <div>Fail</div>
}
<a class="nav-item nav-link" asp-controller="Article" asp-action="List">Return</a>