@model App.Web.ViewModels.ArticleListViewModel

@foreach (var article in Model.Articles)
{
    <div class="col-sm-6 col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@article.Title</h5>
                <span class="card-date">@article.TimePublished</span>
                <p class="card-text">
                    @article.Description
                </p>
                <a href="single-article.html" class="btn btn-secondary float-right">Read More...</a>
            </div>
        </div>
    </div>
}


                     